.sprites { background: url(sprites.png) no-repeat; display: inline-block;}
.sprites-left-01 { width: 36px; height: 32px; background-position: -346px -52px; }
.sprites-right-02 { width: 37px; height: 32px; background-position: -246px -210px; }
.sprites-Go { width: 6px; height: 12px; background-position: -217px -321px; }
.sprites-Logout { width: 14px; height: 14px; background-position: -302px -37px; }
.sprites-app-0 { width: 18px; height: 18px; background-position: -299px -107px; }
.sprites-app { width: 16px; height: 16px; background-position: -317px -37px; }
.sprites-arrow-chiping { width: 12px; height: 4px; background-position: -97px -349px; }
.sprites-arrow-green-s { width: 10px; height: 14px; background-position: -322px -69px; }
.sprites-arrow-green { width: 10px; height: 14px; background-position: -266px -272px; }
.sprites-arrow-red-s { width: 10px; height: 14px; background-position: -53px -360px; }
.sprites-arrow-red { width: 10px; height: 14px; background-position: -72px -475px; }
.sprites-arrow-shang { width: 11px; height: 13px; background-position: -234px -209px; }
.sprites-arrow-xiajiang { width: 11px; height: 13px; background-position: -78px -434px; }
.sprites-arrow-yellow-s { width: 12px; height: 2px; background-position: -187px -409px; }
.sprites-btn-1 { width: 60px; height: 28px; background-position: -217px -243px; }
.sprites-btn-2 { width: 60px; height: 28px; background-position: -36px -331px; }
.sprites-btn-3 { width: 60px; height: 28px; background-position: -169px -446px; }
.sprites-btn-4 { width: 60px; height: 28px; background-position: -11px -475px; }
.sprites-btn-5 { width: 60px; height: 28px; background-position: -121px -475px; }
.sprites-btn-6 { width: 60px; height: 28px; background-position: -182px -475px; }
.sprites-btn-baocun0 { width: 120px; height: 32px; background-position: -181px -37px; }
.sprites-btn-baocun-2 { width: 120px; height: 32px; background-position: -264px -430px; }
.sprites-btn-baocun { width: 100px; height: 36px; background-position: -181px 0; }
.sprites-btn-bendizhaopian { width: 80px; height: 26px; background-position: -95px -417px; }
.sprites-btn-change-group { width: 12px; height: 12px; background-position: -234px -196px; }
.sprites-btn-chognzhimima { width: 100px; height: 36px; background-position: -282px 0; }
.sprites-btn-dakuanwancheng { width: 100px; height: 36px; background-position: -181px -107px; }
.sprites-btn-daochu-2 { width: 16px; height: 15px; background-position: -121px -444px; }
.sprites-btn-daochu { width: 72px; height: 32px; background-position: -209px -380px; }
.sprites-btn-dele1 { width: 100px; height: 36px; background-position: -116px -181px; }
.sprites-btn-dele-2 { width: 52px; height: 26px; background-position: 0 -360px; }
.sprites-btn-dele { width: 100px; height: 36px; background-position: -116px -218px; }
.sprites-btn-delete { width: 12px; height: 12px; background-position: -112px -361px; }
.sprites-btn-fanhui { width: 14px; height: 12px; background-position: -63px -434px; }
.sprites-btn-fasongxiaoxi { width: 100px; height: 36px; background-position: -278px -244px; }
.sprites-btn-fenpei { width: 16px; height: 16px; background-position: -282px -107px; }
.sprites-btn-guanbi { width: 120px; height: 32px; background-position: 0 -504px; }
.sprites-btn-jinyong { width: 100px; height: 36px; background-position: -116px -255px; }
.sprites-btn-laoqu { width: 20px; height: 16px; background-position: -113px -344px; }
.sprites-btn-mark { width: 16px; height: 16px; background-position: -217px -194px; }
.sprites-btn-queding { width: 100px; height: 32px; background-position: -284px -211px; }
.sprites-btn-quedingdianji { width: 100px; height: 32px; background-position: 0 -298px; }
.sprites-btn-quxiao { width: 120px; height: 32px; background-position: -121px -504px; }
.sprites-btn-search { width: 72px; height: 32px; background-position: -176px -413px; }
.sprites-btn-shenhewancheng { width: 100px; height: 36px; background-position: -283px -281px; }
.sprites-btn-shudan { width: 72px; height: 28px; background-position: -249px -181px; }
.sprites-btn-xinzeng2 { width: 100px; height: 36px; background-position: -116px -292px; }
.sprites-btn-xinzeng-2 { width: 14px; height: 14px; background-position: -340px -37px; }
.sprites-btn-xinzeng { width: 100px; height: 36px; background-position: -283px -318px; }
.sprites-btn-xitongguanli { width: 86px; height: 24px; background-position: 0 -450px; }
.sprites-btn-xiugai2 { width: 100px; height: 36px; background-position: -283px -355px; }
.sprites-btn-xiugai { width: 100px; height: 36px; background-position: -282px -392px; }
.sprites-btn-zhuanyi { width: 16px; height: 13px; background-position: -134px -329px; }
.sprites-caiwu1 { width: 14px; height: 14px; background-position: -364px -37px; }
.sprites-caiwu { width: 14px; height: 14px; background-position: -309px -54px; }
.sprites-check { width: 12px; height: 12px; background-position: -78px -375px; }
.sprites-crm1 { width: 16px; height: 16px; background-position: -266px -302px; }
.sprites-crm { width: 16px; height: 16px; background-position: -19px -331px; }
.sprites-danxuan0 { width: 14px; height: 14px; background-position: -234px -181px; }
.sprites-danxuan { width: 14px; height: 14px; background-position: -217px -211px; }
.sprites-dropMenu1 { width: 10px; height: 6px; background-position: -101px -328px; }
.sprites-dropMenu2 { width: 10px; height: 6px; background-position: -245px -456px; }
.sprites-dropMenu-icon { width: 15px; height: 14px; background-position: -324px -54px; }
.sprites-dropMenu-weixuan { width: 10px; height: 10px; background-position: -140px -400px; }
.sprites-dropMenu-xuanzhong { width: 12px; height: 12px; background-position: -91px -386px; }
.sprites-dropMenu { width: 10px; height: 6px; background-position: 0 -475px; }
.sprites-email { width: 16px; height: 12px; background-position: -217px -181px; }
.sprites-form-danxuan1 { width: 14px; height: 14px; background-position: -266px -287px; }
.sprites-form-danxuan { width: 14px; height: 14px; background-position: -101px -298px; }
.sprites-form-fuxuan1 { width: 16px; height: 16px; background-position: -206px -334px; }
.sprites-form-fuxuan { width: 16px; height: 16px; background-position: -206px -351px; }
.sprites-form-tianjia { width: 14px; height: 14px; background-position: -101px -313px; }
.sprites-form-xinzengdingdan0 { width: 18px; height: 18px; background-position: 0 -331px; }
.sprites-form-xinzengdingdan { width: 18px; height: 18px; background-position: -83px -476px; }
.sprites-gouxuan { width: 16px; height: 16px; background-position: -123px -391px; }
.sprites-header-zhuxiao { width: 16px; height: 16px; background-position: -170px -393px; }
.sprites-home1 { width: 14px; height: 14px; background-position: -140px -356px; }
.sprites-home { width: 14px; height: 14px; background-position: -64px -360px; }
.sprites-icon-01 { width: 6px; height: 5px; background-position: -302px -52px; }
.sprites-icon-02 { width: 14px; height: 13px; background-position: -282px -124px; }
.sprites-icon-03 { width: 14px; height: 13px; background-position: -140px -386px; }
.sprites-icon-baocun { width: 14px; height: 14px; background-position: -125px -361px; }
.sprites-icon-chongzhimima { width: 14px; height: 14px; background-position: -91px -371px; }
.sprites-icon-dakuan { width: 16px; height: 12px; background-position: -217px -226px; }
.sprites-icon-dele { width: 12px; height: 12px; background-position: -108px -389px; }
.sprites-icon-fasong { width: 16px; height: 12px; background-position: -134px -343px; }
.sprites-icon-jinyong { width: 14px; height: 14px; background-position: -140px -371px; }
.sprites-icon-shenhe { width: 12px; height: 14px; background-position: -333px -69px; }
.sprites-icon-xinzeng { width: 14px; height: 14px; background-position: -63px -375px; }
.sprites-icon-xiugai { width: 12px; height: 12px; background-position: -95px -399px; }
.sprites-image-30 { width: 30px; height: 30px; background-position: -138px -444px; }
.sprites-image-50 { width: 50px; height: 50px; background-position: -155px -329px; }
.sprites-image-180 { width: 180px; height: 180px; background-position: 0 0; }
.sprites-image-add { width: 115px; height: 116px; background-position: 0 -181px; }
.sprites-images { width: 62px; height: 62px; background-position: -322px -85px; }
.sprites-kehu1 { width: 14px; height: 14px; background-position: -121px -376px; }
.sprites-kehu { width: 14px; height: 14px; background-position: -155px -380px; }
.sprites-log-btn-1 { width: 140px; height: 36px; background-position: -181px -70px; }
.sprites-log-btn { width: 140px; height: 36px; background-position: -181px -144px; }
.sprites-log-denglu-1 { width: 140px; height: 36px; background-position: -243px -463px; }
.sprites-log-denglu { width: 140px; height: 36px; background-position: -243px -500px; }
.sprites-log-xianshi { width: 18px; height: 13px; background-position: -187px -380px; }
.sprites-log-yincang { width: 20px; height: 14px; background-position: -113px -329px; }
.sprites-logo { width: 48px; height: 48px; background-position: -217px -272px; }
.sprites-more { width: 10px; height: 10px; background-position: -108px -476px; }
.sprites-nav-bread-2 { width: 5px; height: 8px; background-position: -334px -37px; }
.sprites-nav-bread { width: 5px; height: 8px; background-position: -102px -476px; }
.sprites-nav-icon-dingdan { width: 12px; height: 14px; background-position: -106px -374px; }
.sprites-nav-icon-gonghai { width: 16px; height: 13px; background-position: -63px -390px; }
.sprites-nav-icon-home { width: 14px; height: 14px; background-position: -194px -394px; }
.sprites-nav-icon-huikuan { width: 14px; height: 14px; background-position: -108px -402px; }
.sprites-nav-icon-jihui { width: 16px; height: 16px; background-position: -78px -404px; }
.sprites-nav-icon-jilu { width: 16px; height: 16px; background-position: -264px -413px; }
.sprites-nav-icon-kehu { width: 14px; height: 14px; background-position: -63px -404px; }
.sprites-nav-icon-lianxiren { width: 16px; height: 12px; background-position: -170px -380px; }
.sprites-nav-icon-qianbao { width: 14px; height: 13px; background-position: -151px -400px; }
.sprites-nav-icon-qianwang { width: 7px; height: 12px; background-position: -234px -223px; }
.sprites-nav-jiantou { width: 6px; height: 10px; background-position: -187px -394px; }
.sprites-peizhi1 { width: 16px; height: 16px; background-position: -87px -459px; }
.sprites-peizhi { width: 16px; height: 16px; background-position: -104px -459px; }
.sprites-plus { width: 12px; height: 12px; background-position: -78px -421px; }
.sprites-rizhi1 { width: 14px; height: 14px; background-position: -249px -413px; }
.sprites-rizhi { width: 14px; height: 14px; background-position: -63px -419px; }
.sprites-subNav1 { width: 12px; height: 12px; background-position: -249px -428px; }
.sprites-subNav2 { width: 12px; height: 12px; background-position: -121px -460px; }
.sprites-tixing { width: 14px; height: 16px; background-position: -97px -354px; }
.sprites-tongji1 { width: 14px; height: 14px; background-position: -249px -441px; }
.sprites-tongji { width: 14px; height: 14px; background-position: -90px -444px; }
.sprites-touxiang2 { width: 62px; height: 62px; background-position: -322px -148px; }
.sprites-touxiang { width: 62px; height: 62px; background-position: 0 -387px; }
.sprites-uncheckd { width: 12px; height: 12px; background-position: -230px -461px; }
.sprites-weigouxuan { width: 16px; height: 16px; background-position: -102px -487px; }
.sprites-xiala { width: 8px; height: 6px; background-position: -355px -37px; }
.sprites-xiaoxi1 { width: 15px; height: 13px; background-position: -297px -126px; }
.sprites-xiaoxi { width: 15px; height: 13px; background-position: -97px -335px; }
.sprites-xitongtouxiang { width: 58px; height: 58px; background-position: -224px -321px; }
.sprites-zuzhiguanli1 { width: 14px; height: 14px; background-position: -105px -444px; }
.sprites-zuzhiguanli { width: 14px; height: 14px; background-position: -230px -446px; }
