<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<a href="http://www.w3school.com.cn/i/w3school_logo_white.gif" download="w3logo">
  <img border="0" src="http://www.w3school.com.cn/i/w3school_logo_white.gif" alt="W3School">
</a>
<div onclick="excelExport()">test 跨域下载</div>
<script>
//   let at = [
//     {a: 1, c: [{a: 2, c: [{a: 3, c: []}]}]},
//     {a: 4, c: [{a: 5, c: [{a: 6, c: []}]}]}
//     ]
// let temp = null
//   function fun (arr, n) {
//     arr.forEach(item => {
//       console.log(item.a)
//       if (item.a === n) {
//         temp = item
//       }
//       else {
//         fun(item.c, n)
//       }
//     })
//   }
//   fun(at, 3)
  function excelExport () { // 导出
    // alert()
    let link = document.createElement('a') // 创建事件对象
    link.setAttribute('href', 'http://www.w3school.com.cn/i/w3school_logo_white.gif')
    link.setAttribute('download', '跟单记录导出')
    let event = document.createEvent('MouseEvents') // 初始化事件对象
    event.initMouseEvent('click', true, true, document.defaultView, 0, 0, 0, 0, 0, false, false, false, false, 0,
      null) // 触发事件
    link.dispatchEvent(event)
  }
</script>
</body>
</html>
